---
import "../styles/global.css";

const {
  title = "ProCode Systems",
  description = "Infraestructura tecnológica, redes profesionales, racks, cableado estructurado, soporte técnico y sistemas digitales para negocios.",
} = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />

    <link rel="icon" type="image/SVG+HTML" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.svg" />

    <title>{title}</title>
  </head>

  <body class="bg-[#020817] text-white antialiased">
    <slot />
  </body>
</html>
